/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/typography";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

body {
  font-family: open-sans, sans-serif;
  font-size: 16px;
  //counter-reset: noticia;
}

.list-unstyled li.leaf {
  list-style-image: none;
}

.site-header {
  .header-links {
    margin-top: 1em;
    padding-top: 0;
    padding-bottom: 0;
    //@include rhythm(0,0.5,0.5,0);
    h1 {
      @include rhythm(0,0,0,0);
      a {
        color: #666;
        .site-name {
          position: absolute;
          bottom: 20%;
        }
      }
    }
    ul {
      //margin-top: 2em;
    }
    #block-search-form {
      #edit-submit {
        text-transform: lowercase;
      }
    }
  }

  nav[role=navigation] {
    background-color: #29286a;
    a {
      color: #ccc;
      &:hover {
        color: white;
      }
    }
    ul[role=menu] {
      li {
        a {
          padding-left: 0;
          padding-right: 0;
        }
        a:after {
          content: '\0000a0\0022ee';
          font-weight: bold;
        }
      }
    }
    .navbar-header {
      .navbar-brand {
        img {
          margin-top: -15px;
          width: 50px;
          height: 50px;
          display: inline-block !important;
        }
      }
    }
  }
}

.container.main {
  @include rhythm(0,0,0,1);
  article {
    header {
      h1.page-header {
        border-bottom: 0.1em solid #29286a;
      }
    }
  }
  img.banner {
    @include single-box-shadow(3px,3px,5px);
  }
  .row > div {
    @include rhythm(0,0,0,1);
  }
  .block {
    @include border-radius(9px);
    border: solid 1px #777;
    border-top: none;
    h2 {
      font-size: 1.8em;
      background-color: #eee;
      color: #777;
      @include border-top-left-radius(9px);
      @include border-top-right-radius(9px);
      border-top: solid 1px #777;
      border-bottom: 0.1em solid #29286a;
      @include rhythm(1,0.2,0,0);
      padding-left: 0.5em;
    }
    .content {
      padding: 2em;
      .views-row {
        &:before {
          //content: ' ';
        }
      }
    }
  }
  .block-system {
    border: none;
    h2 {
      @include rhythm(0,0,0,0.5);
      padding: 0;
      @include border-radius(0);
      border: none;
      background-color: white;
    }
    .content {
      padding: 0;
    }
  }
  #block-views-eventos-block-eventos, 
  #block-views-calendario-block-1 {
    h2 {
      margin-top: 0;
    }
    .content {
      padding: 0;
      .view-header {
        .date-heading {
          h3 {
            text-transform: lowercase;
            a {
              color: #777;
            }
          }
        }
      }
      .view-content {
        padding: 1em;
        thead {
          border-bottom: solid 1px rgb(119,119,119);
          th {
            border: none;
            background-color: white;
          }
        }
        tbody {
          a {
            color: #777;
            font-weight: bold;
          }
        }
      }
    }
    .date-nav {
      margin-bottom: 0;
    }
  }
  .date-nav {
    padding-bottom: 0;
    margin-bottom: 1em;
    .date-heading {
      h3 {
        font-size: 1.2em;
      }
    }
  }
  .pager {
    margin-bottom: 0;
    li {
      background: none;
    }
    li.date-prev {
      margin-left: 0;
      left: 0;
      right: auto;
    }
    li.date-next {
    }
  }
  #block-views-noticias-block-noticias {
    article {
      font-style:italic;
      color: #999;
      //counter-increment: noticia;
      h1:before {
        //content: url(../images/puntos.png);
        //content: counter(noticia, square);
        content: '\0022ee';
        font-weight:bold;
      }
      header {
        a {
          color: #999 !important;
        }
      }
    }
  }
  #block-views-enlaces-y-links-block {
    .content {
      padding: 1em;
      .view-content {
        img {
          vertical-align: top;
          //padding-right: 1em;
          @include border-radius(16px);
          width: 100%;
        }
        div.texto-link {
          font-size: 1.4em;
          font-style:italic;
          a {
            color: #333;
          }
        }
      }
    }
  }
}

.region.sidebar-first {
  .block {
    h2 {
      //display: none;
    }
  }
}

.site-footer {
  background-color: #29286a;
  color: white;

  .block {
    h2 {
      font-style: italic;
      @include adjust-font-size-to(20px);
    }
  }

  #udala {
    header {
      h1 {
        margin: 0;
        background-image: url(../images/logo-getariako-udala.png);
        background-repeat: no-repeat;
        background-position: top center;
        min-height: 80px;
      }
    }
  }
}

.view-actas,
.view-ordenanzas {
  .view-content {
    h3 {
      display: none;
    }
    thead {
      display: none;
    }
    tbody td {
      padding: 0 1em;
    }
  }
}
.node-publicacion {
  thead {
    display: none;
  }
  tbody td {
    padding: 0 1em;
  }
}
/**
 * Event Mini Calendar
 */
.has-events {
  background-color: rgb(151,237,160);
}


/**
 * Media Queries
 */
@media (min-width: 480px) {
  body {
    background-color: white;
  }
}
@media (min-width: 768px) {
  body {
    background-color: white; 
  }
  .site-header {
    .header-links {
      h1 {
        font-size: 1.4em;
      }
      #block-search-form {
        margin-top: 2em;
      }
      ul {
        margin-top: 2em;
      }
    }
    nav[role=navigation] {
      a {
        font-size: 0.8em;
      }
    }
  }
}
@media (min-width: 992px) {
  body {
    background-color: white;
  }
  .site-header {
    .header-links {
      #block-search-form {
        margin-top: 2.5em;
      }
      ul {
        margin-top: 2.5em;
      }
    }
    nav[role=navigation] {
      a {
        font-size: 1.2em;
      }
    }
  }
}
@media (min-width: 1200px) {
  body {
    background-color: white;
  }
  .site-header {
    .header-links {
      #block-search-form {
        margin-top: 3.5em;
      }
      ul {
        margin-top: 3.5em;
      }
    }
  }
}
