/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../../scss/screen.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.714285714;
}
/* line 15, ../../scss/screen.scss */
body h1, body h1, body h3, body h4, body h5, body h6 {
  color: #999;
}
/* line 18, ../../scss/screen.scss */
body a,
body a.focus,
body a.visited,
body a:hover {
  color: #0088b7;
}

/* line 27, ../../scss/screen.scss */
.list-unstyled li.leaf {
  list-style-image: none;
}

/* line 32, ../../scss/screen.scss */
.site-header .top-bar {
  background: none repeat scroll 0 0 #f4f4f4;
  border-bottom: 1px solid #eee;
}
/* line 35, ../../scss/screen.scss */
.site-header .top-bar ul {
  text-transform: lowercase;
  font-size: 12px;
  margin-top: 0em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 0em;
}
/* line 39, ../../scss/screen.scss */
.site-header .top-bar ul li {
  border-left: solid 1px #e9e9e9;
}
/* line 41, ../../scss/screen.scss */
.site-header .top-bar ul li ul {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 44, ../../scss/screen.scss */
.site-header .top-bar ul li ul i {
  color: #29286a;
}
/* line 48, ../../scss/screen.scss */
.site-header .top-bar ul li a {
  color: #a2a2a2;
}
/* line 50, ../../scss/screen.scss */
.site-header .top-bar ul li a i {
  padding-right: 0.8em;
  color: #29286a;
}
/* line 56, ../../scss/screen.scss */
.site-header .top-bar ul li.lenguage {
  border-left: none;
}
/* line 61, ../../scss/screen.scss */
.site-header .header-links {
  margin-top: 1em;
  padding-top: 0;
  padding-bottom: 2em;
  background: url(../images/perfil-getaria.png) top center no-repeat;
}
/* line 67, ../../scss/screen.scss */
.site-header .header-links h1 {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
/* line 69, ../../scss/screen.scss */
.site-header .header-links h1 a {
  color: #666;
}
/* line 81, ../../scss/screen.scss */
.site-header .header-links #block-search-form #edit-submit {
  text-transform: lowercase;
}
/* line 87, ../../scss/screen.scss */
.site-header nav[role=navigation] {
  background-color: #0088b7;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-color: white;
}
/* line 91, ../../scss/screen.scss */
.site-header nav[role=navigation] a {
  color: white;
}
/* line 93, ../../scss/screen.scss */
.site-header nav[role=navigation] a:hover {
  color: white;
}
@media (min-width: 768px) {
  /* line 99, ../../scss/screen.scss */
  .site-header nav[role=navigation] ul[role=menu] li a {
    -moz-border-radius-topleft: 9px;
    -webkit-border-top-left-radius: 9px;
    border-top-left-radius: 9px;
    -moz-border-radius-topright: 9px;
    -webkit-border-top-right-radius: 9px;
    border-top-right-radius: 9px;
  }
}
/* line 105, ../../scss/screen.scss */
.site-header nav[role=navigation] ul[role=menu] li a.active {
  background-color: white;
}
/* line 109, ../../scss/screen.scss */
.site-header nav[role=navigation] ul[role=menu] li a:after {
  font-weight: bold;
}
/* line 117, ../../scss/screen.scss */
.site-header nav[role=navigation] .navbar-header .navbar-brand img {
  margin-top: -15px;
  height: 50px;
  display: inline-block !important;
}
/* line 126, ../../scss/screen.scss */
.site-header nav[role=navigation] .navbar-collapse .navbar-nav {
  margin-left: 0;
}

/* line 133, ../../scss/screen.scss */
.container.main {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 137, ../../scss/screen.scss */
.container.main article header h1.page-header {
  border-bottom: 0.1em solid #29286a;
}
/* line 142, ../../scss/screen.scss */
.container.main img.banner {
  -moz-box-shadow: 3px 3px 5px #333333;
  -webkit-box-shadow: 3px 3px 5px #333333;
  box-shadow: 3px 3px 5px #333333;
}
/* line 145, ../../scss/screen.scss */
.container.main .row > div {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 148, ../../scss/screen.scss */
.container.main .block {
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  border: solid 1px #777;
  border-top: none;
}
/* line 152, ../../scss/screen.scss */
.container.main .block h2 {
  font-size: 1.5em;
  background-color: #eee;
  color: #777;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-left-radius: 9px;
  border-top-left-radius: 9px;
  -moz-border-radius-topright: 9px;
  -webkit-border-top-right-radius: 9px;
  border-top-right-radius: 9px;
  border-top: solid 1px #777;
  border-bottom: 1px solid #29286a;
  margin-top: 1.5em;
  padding-top: 0.3em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  padding-left: 0.5em;
}
/* line 163, ../../scss/screen.scss */
.container.main .block .content {
  padding: 1em;
}
/* line 172, ../../scss/screen.scss */
.container.main .block-system {
  border: none;
}
/* line 174, ../../scss/screen.scss */
.container.main .block-system h2 {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.75em;
  padding: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  background-color: white;
}
/* line 181, ../../scss/screen.scss */
.container.main .block-system .content {
  padding: 0;
}
/* line 187, ../../scss/screen.scss */
.container.main #block-views-eventos-block-eventos h2,
.container.main #block-views-calendario-block-1 h2 {
  margin-top: 0;
}
/* line 190, ../../scss/screen.scss */
.container.main #block-views-eventos-block-eventos .content,
.container.main #block-views-calendario-block-1 .content {
  padding: 0;
}
/* line 194, ../../scss/screen.scss */
.container.main #block-views-eventos-block-eventos .content .view-header .date-heading h3,
.container.main #block-views-calendario-block-1 .content .view-header .date-heading h3 {
  text-transform: capitalize;
}
/* line 196, ../../scss/screen.scss */
.container.main #block-views-eventos-block-eventos .content .view-header .date-heading h3 a,
.container.main #block-views-calendario-block-1 .content .view-header .date-heading h3 a {
  color: #777;
}
/* line 202, ../../scss/screen.scss */
.container.main #block-views-eventos-block-eventos .content .view-content,
.container.main #block-views-calendario-block-1 .content .view-content {
  padding: 1em;
}
/* line 204, ../../scss/screen.scss */
.container.main #block-views-eventos-block-eventos .content .view-content thead,
.container.main #block-views-calendario-block-1 .content .view-content thead {
  border-bottom: solid 1px #777777;
}
/* line 206, ../../scss/screen.scss */
.container.main #block-views-eventos-block-eventos .content .view-content thead th,
.container.main #block-views-calendario-block-1 .content .view-content thead th {
  border: none;
  background-color: white;
}
/* line 212, ../../scss/screen.scss */
.container.main #block-views-eventos-block-eventos .content .view-content tbody div.month,
.container.main #block-views-calendario-block-1 .content .view-content tbody div.month {
  text-align: center;
}
/* line 215, ../../scss/screen.scss */
.container.main #block-views-eventos-block-eventos .content .view-content tbody td.today,
.container.main #block-views-calendario-block-1 .content .view-content tbody td.today {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #00b400;
  color: white;
}
/* line 220, ../../scss/screen.scss */
.container.main #block-views-eventos-block-eventos .content .view-content tbody td.has-events,
.container.main #block-views-calendario-block-1 .content .view-content tbody td.has-events {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #0088b7;
}
/* line 224, ../../scss/screen.scss */
.container.main #block-views-eventos-block-eventos .content .view-content tbody a,
.container.main #block-views-calendario-block-1 .content .view-content tbody a {
  color: white;
  font-weight: bold;
}
/* line 231, ../../scss/screen.scss */
.container.main #block-views-eventos-block-eventos .date-nav,
.container.main #block-views-calendario-block-1 .date-nav {
  margin-bottom: 0;
}
/* line 235, ../../scss/screen.scss */
.container.main .date-nav {
  padding-bottom: 0;
  margin-bottom: 1em;
}
/* line 239, ../../scss/screen.scss */
.container.main .date-nav .date-heading h3 {
  font-size: 1.2em;
}
/* line 244, ../../scss/screen.scss */
.container.main .pager {
  margin-bottom: 0;
}
/* line 246, ../../scss/screen.scss */
.container.main .pager li {
  background: none;
  margin-left: 0;
}
/* line 250, ../../scss/screen.scss */
.container.main .pager li.date-prev {
  margin-left: 0;
  left: 0;
  right: auto;
}
/* line 262, ../../scss/screen.scss */
.container.main #block-views-noticias-block-noticias .content .views-row article {
  overflow: hidden;
  color: #999;
}
/* line 278, ../../scss/screen.scss */
.container.main #block-views-noticias-block-noticias .content .views-row article img {
  float: right;
}
/* line 286, ../../scss/screen.scss */
.container.main #block-views-enlaces-y-links-block .content {
  padding: 1em;
}
/* line 289, ../../scss/screen.scss */
.container.main #block-views-enlaces-y-links-block .content .view-content img {
  vertical-align: top;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  width: 100%;
}
/* line 295, ../../scss/screen.scss */
.container.main #block-views-enlaces-y-links-block .content .view-content div.texto-link {
  font-size: 1.4em;
  font-style: italic;
}
/* line 298, ../../scss/screen.scss */
.container.main #block-views-enlaces-y-links-block .content .view-content div.texto-link a {
  color: #333;
}
/* line 305, ../../scss/screen.scss */
.container.main #block-views-slider-block {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: none;
  border-top: none;
}
/* line 309, ../../scss/screen.scss */
.container.main #block-views-slider-block h2 {
  display: none;
}
/* line 312, ../../scss/screen.scss */
.container.main #block-views-slider-block .content {
  padding: 0;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  -moz-box-shadow: 3px 3px 5px #333333;
  -webkit-box-shadow: 3px 3px 5px #333333;
  box-shadow: 3px 3px 5px #333333;
  border: solid 1px #777;
  overflow: hidden;
}

/* line 332, ../../scss/screen.scss */
.site-footer {
  background-color: #0088b7;
  background: #0088b7 url(../images/perfil-getaria.svg) no-repeat top center/contain;
  padding-top: 9em;
  color: white;
}
/* line 339, ../../scss/screen.scss */
.site-footer a {
  color: white;
}
/* line 342, ../../scss/screen.scss */
.site-footer a:hover {
  color: white;
}
/* line 348, ../../scss/screen.scss */
.site-footer .block h2 {
  font-style: italic;
  font-size: 1.25em;
  line-height: 1.2em;
}
/* line 356, ../../scss/screen.scss */
.site-footer #udala header h1 {
  margin: 0;
  background-image: url(../images/logo-getariako-udala.png);
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 80px;
}
/* line 364, ../../scss/screen.scss */
.site-footer #udala p {
  margin: 0;
}

/* line 373, ../../scss/screen.scss */
.view-actas .view-content h3,
.view-ordenanzas .view-content h3 {
  display: none;
}
/* line 376, ../../scss/screen.scss */
.view-actas .view-content thead,
.view-ordenanzas .view-content thead {
  display: none;
}
/* line 379, ../../scss/screen.scss */
.view-actas .view-content tbody td,
.view-ordenanzas .view-content tbody td {
  padding: 0 1em;
}

/* line 385, ../../scss/screen.scss */
.node-publicacion thead {
  display: none;
}
/* line 388, ../../scss/screen.scss */
.node-publicacion tbody td {
  padding: 0 1em;
}

/**
 * Event Mini Calendar
 */
/* line 395, ../../scss/screen.scss */
.has-events {
  background-color: #97eda0;
}

/* line 399, ../../scss/screen.scss */
.dir-dpto {
  margin-top: 0em;
  padding-top: 3em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

/**
 * Album de fotos
 */
/* line 407, ../../scss/screen.scss */
.album-de-fotos .foto {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

/**
 * Media Queries
 */
@media (min-width: 480px) {
  /* line 416, ../../scss/screen.scss */
  body {
    background-color: white;
  }
}
@media (min-width: 768px) {
  /* line 421, ../../scss/screen.scss */
  body {
    background-color: white;
  }

  /* line 429, ../../scss/screen.scss */
  .site-header .header-links #block-search-form {
    margin-top: 2em;
  }
  /* line 432, ../../scss/screen.scss */
  .site-header .header-links ul {
    margin-top: 2em;
  }
}
@media (min-width: 992px) {
  /* line 444, ../../scss/screen.scss */
  body {
    background-color: white;
  }

  /* line 449, ../../scss/screen.scss */
  .site-header .header-links #block-search-form {
    margin-top: 2.5em;
  }
  /* line 452, ../../scss/screen.scss */
  .site-header .header-links ul {
    margin-top: 2.5em;
  }
}
@media (min-width: 1200px) {
  /* line 464, ../../scss/screen.scss */
  body {
    background-color: white;
  }

  /* line 469, ../../scss/screen.scss */
  .site-header .header-links #block-search-form {
    margin-top: 3.5em;
  }
  /* line 472, ../../scss/screen.scss */
  .site-header .header-links ul {
    margin-top: 3.5em;
  }
}
